<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Insert title here</title>
</head>
<body>
<div style="display:flex">
    <div id="button">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#addModal">Add</button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" onClick="checkBox()">Edit</button>
          <button type="button" class="btn btn-secondary" onClick="checkBox2()">Delete</button>
          <button type="button" class="btn btn-secondary" data-toggle="modal" onClick="checkBox3()">View</button>
    </div>
<form th:action="@{/}" id="myForm" name="myForm" method="get">
    <input type="text" name="jenis" id="search" th:value="${Jenis}">    
    <button name="button" value="Sorting" id="sorting">Sorting</button>
    <button name="button2" value="Unsorting" id="unsorting">Unsorting</button>
    <input type="text" id="cursor" name="cursor" style="display: none">
</form>
    <input type="text" id="position" th:value="${Position}" style="display: none">
</div>
<div class="modal fade" id="addModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Add Data</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <form method="post" action="save" >
          <div class="form-group">
            <label for="Kode Barang">Kode Barang</label>
            <input type="text" class="form-control" name="KodeBarang"> 
          </div>
          <div class="form-group">
            <label for="Nama Barang">Nama Barang</label>
            <input type="text" class="form-control" name="NamaBarang">
          </div>
          <div class="form-group">
            <label for="Harga Beli">Harga Beli</label>
            <input type="text" class="form-control" name="HargaBeli">
          </div>
          <div>
            <label for="Harga Jual">Harga Jual</label>
            <input type="text" class="form-control" name="HargaJual">
          </div>
          <div>
            <label for="Satuan">Satuan</label>
            <input type="text" class="form-control" name="Satuan">
          </div>
          <br>
          <label for="Satuan">Kategori</label><br>
          <select name="Kategori">
             <option th:each="kategoriModel : ${ListKategoriModel}" th:value="${kategoriModel.kategori}" th:text="${kategoriModel.kategori}"></option>   
          </select>
          <br>         
          <div class="modal-footer">
          <input type="submit" value="Save">
          </div>
      </form>
          
      </div>
      
    </div>
   </div>
</div>

<div class="modal fade" id="editModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Edit Data</h4>
         <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
      <form method="post" action="edit">
      	<div class="form-group">
            <input type="text" class="form-control" style="display:none" name="id" id="editId"> 
          </div>
          <div class="form-group">
            <label for="Kode Barang">Kode Barang</label>
            <input type="text" class="form-control" name="KodeBarang" id="editkodebarang"> 
          </div>
          <div class="form-group">
            <label for="Nama Barang">Nama Barang</label>
            <input type="text" class="form-control" name="NamaBarang" id="editnamabarang">
          </div>
          <div class="form-group">
            <label for="Harga Beli">Harga Beli</label>
            <input type="text" class="form-control" name="HargaBeli" id="edithargabeli">
          </div>
          <div>
            <label for="Harga Jual">Harga Jual</label>
            <input type="text" class="form-control" name="HargaJual" id="edithargajual">
          </div>
          <div>
            <label for="Satuan">Satuan</label>
            <input type="text" class="form-control" name="Satuan" id="editsatuan">
          </div>
          <br>
          <select name="Kategori" id="editKategori">
             <option th:each="kategoriModel : ${ListKategoriModel}" th:value="${kategoriModel.kategori}" th:text="${kategoriModel.kategori}"></option>   
          </select>
          <br>
          <div class="modal-footer">
          <input type="submit" value="Save">
          </div>
      </form>
          
      </div>
      
    </div>
   </div>
</div>

<div class="modal fade" id="viewModal" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
          <h4 class="modal-title">View Data</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
       </div>
       <div class="modal-body">
          <div class="form-group">
            <label for="Kode Barang">Kode Barang</label><br>
            <label id="viewKodeBarang"></label> 
          </div>
          <div class="form-group">
            <label for="Nama Barang">Nama Barang</label><br>
            <label id="viewNamaBarang"></label>
          </div>
          <div class="form-group">
            <label for="Harga Beli">Harga Beli</label><br>
            <label id="viewHargaBeli"></label>
          </div>
          <div>
            <label for="Harga Jual">Harga Jual</label><br>
            <label id="viewHargaJual"></label>
          </div>
          <div>
            <label for="Satuan">Satuan</label><br>
            <label id="viewSatuan"></label>
          </div>
          <div>
            <label for="Kategori">Kategori</label><br>
            <label id="viewKategori"></label>
          </div>
       </div>
     </div>
  </div>
</div>

<div>
  <table class="table table-border"  id="tabeldata">
      <tr>
       <td>Kode Barang</td>
       <td>Nama Barang</td>
       <td>Harga Jual</td>
       <td>Harga Beli</td>
       <td>Satuan</td>
       <td>Kategori</td>
       <td id="checkbox"><input type="checkbox" id="check" onchange="checkAll(this)"> </td> 
      </tr>
      <tr th:each="dataBarangModel:${ListDataBarangModel}" class="row-select">
       <td class="kodeBarang"><a th:text="${dataBarangModel.kodeBarang}"></a></td>
       <td class="namaBarang"><a th:text="${dataBarangModel.namaBarang}"></a></td>
       <td class="hargaJual"><a th:text="${dataBarangModel.hargaJual}"></a></td>
       <td class="hargaBeli"><a th:text="${dataBarangModel.hargaBeli}"></a></td>
       <td class="satuan"><a th:text="${dataBarangModel.satuan}"></a></td>
       <td class="kategori"><a th:text="${dataBarangModel.kategori}"></a></td>
       <td><input type="checkbox"></td>
      </tr>
      </c:forEach>
    </table>
    <p align="center" style="display: none" id="display"> Tidak ada data untuk ditampilkan</p>
    <p id="demo"></p>
</div>
<script th:inline="javascript">
var row = document.getElementById("tabeldata").rows.length-1;
if(row==0){
document.getElementById("display").style="block";
}


function checkBox() {
	var check = document.querySelectorAll('input[type="checkbox"]:checked').length;
	if(document.getElementById('check').checked){
		check--;
	}
	if(check == 1 && !document.getElementById('check').checked){
		$('#editModal').modal('show');
	} else {
		alert("pilih salah satu data")
	} 
	}
	
function checkBox2()  {
	var check = document.querySelectorAll('input[type="checkbox"]:checked').length;
	var ids = [];
	var i ;
	var ListData;
	if(document.getElementById('check').checked){
		check--;
	}
	
	if(check == 0){
		alert("Tidak ada data yang dipilih")
	} else {
		$(document).ready(function(){
			$('.row-select input:checked').each(function() {
				ListData = [[${ListDataBarangModel}]];
				i = $(this).closest("tr").index()-1;
				var selectedId = ListData[i].id;
				ids.push(selectedId)
				
			});

			$.ajax({
				url     : '/DataBarang/delete',
				type    : 'post',
				data    : JSON.stringify(ids),
				async:false,
		        dataType : "text",
				contentType: "application/json",
				 success : function (result) {
					 alert("sukses hapus data");
				 	  $(document).ajaxStop(function(){
	    				    window.location.reload();
	    				});  
				}, 
				 error: function (XMLHttpRequest, textStatus, errorThrown) {
	                 alert("tidak sukses hapus data");     
	             }
 			
				 
			})
		}
		
		)

		
	}
	
}

function checkBox3() {
	var check = document.querySelectorAll('input[type="checkbox"]:checked').length;
	if(document.getElementById('check').checked){
		check--;
	}
	if(check == 1 && !document.getElementById('check').checked){
		$('#viewModal').modal('show');
	    
	} else {
		alert("pilih salah satu data")
	} 
	}

function checkAll(ele) {
    var checkboxes = document.getElementsByTagName('input');
    if (ele.checked) {
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox' ) {
                checkboxes[i].checked = true;
            }
        }
    } else {
        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].type == 'checkbox') {
                checkboxes[i].checked = false;
            }
        }
    }
}
	
$(document).ready(function(){
	var i ;
	var ListData;
	$('#editModal').on('show.bs.modal', function (e) {
		$('.row-select input:checked').each(function() {
			i = $(this).closest("tr").index()-1;
			ListData = [[${ListDataBarangModel}]];
			var selectedId         = ListData[i].id;
			var selectedKodeBarang = ListData[i].kodeBarang;
			var selectedNamaBarang = ListData[i].namaBarang;
			var selectedHargaBeli  = ListData[i].hargaBeli;
			var selectedHargaJual  = ListData[i].hargaJual;
			var selectedSatuan     = ListData[i].satuan;
			var selectedKategori   = ListData[i].kategori;
			var mySelect   = document.getElementById('editKategori');
			$('#editId').val(selectedId);
			$('#editkodebarang').val(selectedKodeBarang);
			$('#editnamabarang').val(selectedNamaBarang);
			$('#edithargajual').val(selectedHargaBeli);
			$('#edithargabeli').val(selectedHargaJual);
			$('#editsatuan').val(selectedSatuan);
			
			for(var i,j = 0; i=mySelect.options[j];j++){
				if(i.value == selectedKategori) {
					mySelect.selectedIndex = j;
					break;
				}
			}
		}
		)
	}
	)
})

$(document).ready(function(){
	var i ;
	var ListData;
	$('#viewModal').on('show.bs.modal',function(e){
		$('.row-select input:checked').each(function() {
			i = $(this).closest("tr").index()-1;
			ListData = [[${ListDataBarangModel}]];
			var selectedKodeBarang = ListData[i].kodeBarang;
			var selectedNamaBarang = ListData[i].namaBarang;
			var selectedHargaBeli  = ListData[i].hargaBeli;
			var selectedHargaJual  = ListData[i].hargaJual;
			var selectedSatuan     = ListData[i].satuan;
			var selectedKategori   = ListData[i].kategori;
			document.getElementById("viewKodeBarang").innerHTML = selectedKodeBarang;
			document.getElementById("viewNamaBarang").innerHTML = selectedNamaBarang;
			document.getElementById("viewHargaBeli").innerHTML  = selectedHargaBeli;
			document.getElementById("viewHargaJual").innerHTML  = selectedHargaJual;
			document.getElementById("viewSatuan").innerHTML     = selectedSatuan;
			document.getElementById("viewKategori").innerHTML   = selectedKategori;
		})
	});
})

var url ;
var get_cursor;
$(document).ready(function(){
	$("#search").on("input",function(){
		get_cursor = $('#search').get(0).selectionStart;
		$('#cursor').val(get_cursor);
		$('#myForm').submit();
        if((url.get("button") !== null) && (url.get("button") !== '')){
           $('#sorting').click();
        }
    })
	url = new URLSearchParams(window.location.search);
});

$(window).on("load",function(){
	    var x = $('#position').val();
		$('#search').focus();
		$('#search')[0].setSelectionRange(x,x);
	}); 	

$(document).ready(function(){
	$('#sorting').on("click",function(){
		get_cursor = $('#search').get(0).selectionStart;
		$('#cursor').val(get_cursor);
		$('#myForm').submit();
	})
});


$(document).ready(function(){
	$('#unsorting').on("click",function(){
		get_cursor = $('#search').get(0).selectionStart;
		$('#cursor').val(get_cursor);
		$('#myForm').submit();
	})
});

</script>
</body>
</html>